<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Tip Calculator</title>
</head>
<body>

<form method="post">
    <div class="form-group">
    <label>
        Total Bill:
        <input th:type="decimal" th:min="0" th:name="totalBill" th:text="${totalBill}">
    </label>
    </div>
    <div class="form-group">
    <label>Tip Percentage:
    <input th:type="number" th:min="10" th:max="100" th:name="tipPercentage" th:text="${tipPercentage}">
    </label>
    </div>
    <div class="form-group">
    <label>How many are splitting the bill:
        <input th:type="number" th:min="0" th:name="splitNum" th:text="${splitNum}">
    </label>
    </div>
    <div class="form-group">
 <input th:type="submit" th:value="submitButton" >
    </div>
</form>




</body>
</html>