<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bill with Tip</title>
</head>
<body class="container">

<label> Bill: </label>
<p th:type="decimal" th:text="${totalBill}"></p>

<label> Tip Percentage: </label>
<p th:type="number" th:text="${tipPercentage}">%</p>

<label>Number of people splitting the bill: </label>
<p th:type="number" th:text="${splitNum}"></p>

<label> Tip: </label>
<p th:type="decimal" th:text="${tip}"></p>
<lable>Total with Tip: </lable>
<p th:type="decimal" th:text="${totalPlusTip}"></p>


</body>
</html>