<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bill with Tip</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <h1> Tip Calculation </h1>

<label> Total Bill: $
    <span th:type="decimal" th:text="${totalBill}"></span>
</label>

<br>

<label> Tip Percentage:
    <span th:type="number" th:text="${tipPercentage}">%</span> %
</label>

<br>

<label>Number of people splitting the bill:
    <span th:type="number" th:text="${splitNum}"></span>
</label>

<br>

<label>Each person tip: $
    <span th:type="decimal" th:text="${tip}"></span>
</label>

<br>

<label>Each person bill with Tip: $
    <span th:type="decimal" th:text="${totalPlusTip}"></span>
</label>

</div>
</body>
</html>